node-red/flows.json
[{"id":"7c485f06.f771f8","type":"tab","label":"Anfield Button","disabled":false,"info":""},{"id":"342db05a.4ec21","type":"tab","label":"Bodgang Motion","disabled":false,"info":""},{"id":"e412aeb6.bb7ec","type":"server","z":"","name":"Home Assistant"},{"id":"1e2ab1f6.7d3ade","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e0fa44e0.794798","type":"server-state-changed","z":"7c485f06.f771f8","name":"Anfield Button","server":"e412aeb6.bb7ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00011c0c14_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":120,"wires":[["3d16ee18.74082a"]]},{"id":"55156330.81baa4","type":"switch","z":"7c485f06.f771f8","name":"On - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":120,"wires":[["bdf86527.fb92a"],["8358a426.595e08"]]},{"id":"bdf86527.fb92a","type":"api-call-service","z":"7c485f06.f771f8","name":"Anfield Lights","server":"e412aeb6.bb7ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.fibaro_system_fgd212_dimmer_2_level_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":80,"wires":[[]]},{"id":"3d16ee18.74082a","type":"api-current-state","z":"7c485f06.f771f8","name":"Anfield Lights","server":"e412aeb6.bb7ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.fibaro_system_fgd212_dimmer_2_level_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":120,"wires":[["55156330.81baa4"]]},{"id":"8358a426.595e08","type":"api-call-service","z":"7c485f06.f771f8","name":"Anfield Lights","server":"e412aeb6.bb7ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.fibaro_system_fgd212_dimmer_2_level_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":160,"wires":[[]]},{"id":"2161988b.0fe79","type":"server-state-changed","z":"342db05a.4ec21","name":"Bodgang Motion Sensor","server":"e412aeb6.bb7ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fibaro_system_fgms001_zw5_motion_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":100,"wires":[["fab80a41.c5baa8"]]},{"id":"838a4400.1a1d18","type":"api-call-service","z":"342db05a.4ec21","name":"Lys","server":"e412aeb6.bb7ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bodgang, light.tradfri_vaskerom, light.tradfri_bod_stor, light.tradfri_bod_liten","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":40,"wires":[[]]},{"id":"fab80a41.c5baa8","type":"switch","z":"342db05a.4ec21","name":"On - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":100,"wires":[["838a4400.1a1d18"],["38a7350b.f6b77a"]]},{"id":"37248de8.b91b5a","type":"api-call-service","z":"342db05a.4ec21","name":"Lys","server":"e412aeb6.bb7ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tradfri_bodgang, light.tradfri_vaskerom, light.tradfri_bod_stor, light.tradfri_bod_liten","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":100,"wires":[[]]},{"id":"38a7350b.f6b77a","type":"stoptimer","z":"342db05a.4ec21","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":520,"y":160,"wires":[["37248de8.b91b5a"],[]]}]